CTestCustom.cmake
CTestTestfile.cmake
color.jpg
CTestConfiguration.ini
depth.jpg
Makefile
output2.ply
output.ply
reconstructed.ply
.vscode/settings.json
launch/test_pcd.ply
scripts/cmo.py
src/dump.cpp
src/opencv.xyz
segmented_plane.ply
src/dump.cpp.cpp
.vscode/launch.json
.vscode/tasks.json
launch/perception_only.launch

.catkin_tools
build
install
logs
devel
*~
*.autosave
*.pyc
*.swp
*.user
.#*
.cproject
.project
qtcreator-*
.vscode*
.idea*

# YCM config files
*.ycm*

__pycache__
