<launch>
    <!-- establish static transform from camera link to base link -->
    <node pkg="tf" type="static_transform_publisher" name="camera_to_base_link"
        args="0 0 0 -0.5 0.5 -0.5 0.5 uav1/base_link camera_link 50" />

    <!-- launch csrt tracker -->
    <arg name="tracker"/>
    <node name="tracker" pkg="2020_trackers" type="tracker.py" output="screen" args="$(arg tracker)">
        <param name="~bbox_in_topic" value="/perception/roi/rect"/> 
        <param name="~color_img_topic" value="/front_depth_camera/color/image_raw"/>
        <param name="~depth_img_topic" value="/front_depth_camera/aligned_depth_to_color/image_raw"/>
        <param name="~publish_tracked" value="True"/>
    </node>

    <node name="depth_estimation" pkg="2020_trackers" type="2020_trackers_point_cloud">
        <param name="~color_image_topic" value="/front_depth_camera/color/image_raw"/>
        <param name="~depth_image_topic" value="/front_depth_camera/aligned_depth_to_color/image_raw"/>
    </node>


</launch>
